.github/linters/mule-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema1.xsd" namespace="http://www.mulesoft.org/schema/mule/http" />
  <xs:import schemaLocation="schema2.xsd" namespace="http://www.mulesoft.org/schema/mule/documentation" />
  <xs:import schemaLocation="schema3.xsd" namespace="http://www.mulesoft.org/schema/mule/ee/core" />
  <xs:element name="mule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="http:listener-config" />
        <xs:element name="flow">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="http:listener" />
              <xs:element ref="ee:transform" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute ref="doc:id" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
