.github/workflows/mule-schema.sch

<schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"
    xmlns:sqf="http://www.schematron-quickfix.com/validator/process"
    xmlns="http://purl.oclc.org/dsdl/schematron">
    <pattern>
        <rule context="transform">
            <assert test = "@resource" > failed </assert>
        </rule>
    </pattern>
</schema>
